html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Mochiy Pop One", sans-serif;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.post {
  padding: 20px;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  border-radius: 1px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.post__left, .post__right {
  width: calc(50% - 1rem);
}
.post__media {
  height: 34rem;
  position: relative;
  margin-bottom: 3.5rem;
}
.post__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.post__image--small {
  width: 40%;
  height: 150px;
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.post__category {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  color: white;
  background: linear-gradient(to right, #fc556f, #fd9c84);
  padding: 1rem 2rem;
  border-radius: 2rem;
  top: 20px;
  left: 20px;
  z-index: 2;
}
.post__icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 5rem;
  color: white;
  background: linear-gradient(to right, #fc556f, #fd9c84);
  position: absolute;
  right: 5%;
  transform: translateY(-50%);
}
.post__icon--redheart {
  font-size: 30px;
  color: transparent;
  background: linear-gradient(to right, #ED213A, #93291E);
  -webkit-background-clip: text;
}
.post-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}
.post-author__avartar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  image-rendering: pixelated;
  margin-right: 1.5rem;
}
.post-author__name, .post-author__date {
  font-size: 20px;
  font-weight: 600;
  color: transparent;
  background: linear-gradient(to right, #F09105, #FB5E01);
  -webkit-background-clip: text;
}
.post-author__name--small, .post-author__date--small {
  font-size: 20px;
  color: white;
  text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
}
.post-author__name {
  margin-right: 2rem;
  padding-right: 2rem;
  position: relative;
}
.post-author__name:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fc556f;
  border-radius: 50%;
}
.post__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.post__title--small {
  font-size: 20px;
  text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
}
.post__desc {
  line-height: 1.4;
  opacity: 0.8;
}
.post__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}
.post__item:not(:last-child) {
  border-bottom: 3px rgb(235, 79, 105) solid;
}
.post__item__content {
  width: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 737px) {
  .post {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .post__left, .post__right {
    width: 100%;
  }
  .post__media {
    height: 20rem;
  }
  .post__category {
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
    position: absolute;
    color: white;
    background: linear-gradient(to right, #fc556f, #fd9c84);
    padding: 1rem 1rem;
    border-radius: 2rem;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
  .post__icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 5rem;
    color: white;
    background: linear-gradient(to right, #fc556f, #fd9c84);
    position: absolute;
    right: 2rem;
    transform: translateY(-50%);
  }
  .post__icon--redheart {
    font-size: 20px;
    color: transparent;
    background: linear-gradient(to right, #ED213A, #93291E);
    -webkit-background-clip: text;
  }
  .post__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.3;
    color: #ED213A;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
  }
  .post__desc {
    margin-bottom: 4rem;
    font-size: 15px;
    font-weight: 800;
    color: white;
  }
  .post-author__avartar {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
  }
  .post-author__name, .post-author__date {
    font-size: 15px;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(to right, white, white);
    -webkit-background-clip: text;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
  }
  .post-author__name--small, .post-author__date--small {
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
  }
  .post-author__name {
    margin-right: 2rem;
    padding-right: 2;
    position: relative;
  }
  .post-author__name:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fc556f;
    border-radius: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
